<!doctype html>
<html ng-app="LunchCheck" lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div ng-controller='LunchCheckController' class="container">
     <h1>Lunch Checker</h1>
     <div class="form-group"
     ng-class="{'has-warning': colorLunch == 'danger', 'has-success': colorLunch == 'success'}">
         <input id="lunch-menu" type="text"
         placeholder="list comma separated dishes you usually have for lunch"
         class="form-control"
         ng-model="food">
     </div>
     <h3>I do NOT consider and empty item, i.e., , , as an item towards to the count.</h3>
     <div class="form-group">
         <button ng-click="checkLunch()" class="btn btn-default">Check If Too Much</button>
     </div>
     <div class="form-group message text-{{colorLunch}}">
       {{stateOfLunch}}
     </div>
   </div>
   <script src="angular.min.js"></script>
   <script src="app.js"></script>
</body>
</html>
